@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600;700;800&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Syne', sans-serif;
}

label {
	font-size: 1.2rem;
}

input.form-control:focus {
	background: #f0f0ff;
}

.error {
	position: absolute;
	color: red;
	font-size: 0.9rem;
	margin-top: 0.1rem;
}
